#stock-details {
    position: absolute;
    padding: 10px 30px;

    .display-rows {
        position: relative;
        height: 60px;
        padding-top: 10px;
    }

    .label {
        color: $dark-gray;
        font-weight: 400;
    }

    .data {
        font-weight: 500;
    }

    .up {
        color: $green;
    }

    .down {
        color: $red;
    }

    #comp-symbol {
        font-size: 32px;
        font-weight: 600;
        color: $blue;
    }

    #comp-name {
        margin-left: 60px;
        font-size: 24px;
    }

    #lastest-price, 
    #close, 
    #high,
    #price-change,
    #price-change-percent,
    #open, 
    #low {
        position: absolute;
    }
}

@media (min-width: $tablet + 0.02px) {
    #stock-details {
        left: 329px;
        top: 52px;
    }

    .data, .label {
        width: 150px;
    }

    #prim-exchange {
        width: 500px;
    }

    #lastest-price, #close, #high {
        left: 0;
    }

    #price-change, #open, #low {
        left: 150px;
    }

    #price-change-percent {
        left: 300px;
    }
}

@media (max-width: $tablet) {
    #stock-details {
        top: 263px;
    }

    .data, .label {
        width: 150px;
    }

    #prim-exchange {
        width: 400px;
    }

    #lastest-price, #close, #high {
        left: 0;
    }

    #price-change, #open, #low {
        left: 150px;
    }

    #price-change-percent {
        left: 300px;
    }
}

@media (max-width: $phone-large) {
    #stock-details {
        padding: 10px 0;
    }

    .display-rows#price-row {
        height: 100px;

        #price-change {
            left: 0;
            top: 60px;
        }

        #price-change-percent {
            left: 150px;
            top: 60px;
        }
    }
}