// Colors
$white: #ffffff;
$black: #000000;
$blue: #0f69ff;
$green: #00873c;
$red: #eb0f29;
$light-gray: #d3d3d3;
$dark-gray: #5b636a;



// Media Breakpoints
$laptop: 992px;
$tablet: 768px;
$phone: 280px;